# pandasのデータフレーム

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from numpy.random import randint
dices = randint(1,7,(5,2))
dices

array([[6, 6],
       [2, 2],
       [2, 2],
       [1, 5],
       [6, 2]])

In [3]:
diceroll = DataFrame(dices, columns=['dice1','dice2'])
diceroll

   dice1  dice2
0      6      6
1      2      2
2      2      2
3      1      5
4      6      2

In [4]:
city = Series(['Tokyo','Osaka','Nagoya','Okinawa'], name='City')
city

0      Tokyo
1      Osaka
2     Nagoya
3    Okinawa
Name: City, dtype: object

In [5]:
temp = Series([25.0,28.2,27.3,30.9], name='Temperature')
temp

0    25.0
1    28.2
2    27.3
3    30.9
Name: Temperature, dtype: float64

In [6]:
humid = Series([44,42,np.nan,62], name='Humidity')
humid

0    44.0
1    42.0
2     NaN
3    62.0
Name: Humidity, dtype: float64

In [7]:
cities = DataFrame({'City':city, 'Temperature':temp, 'Humidity':humid})
cities

      City  Humidity  Temperature
0    Tokyo      44.0         25.0
1    Osaka      42.0         28.2
2   Nagoya       NaN         27.3
3  Okinawa      62.0         30.9

In [8]:
data = {'City': ['Tokyo','Osaka','Nagoya','Okinawa'],
        'Temperature': [25.0,28.2,27.3,30.9],
        'Humidity': [44,42,np.nan,62]}
cities = DataFrame(data)
cities

      City  Humidity  Temperature
0    Tokyo      44.0         25.0
1    Osaka      42.0         28.2
2   Nagoya       NaN         27.3
3  Okinawa      62.0         30.9

In [9]:
diceroll = DataFrame(columns=['dice1','dice2'])
diceroll

Empty DataFrame
Columns: [dice1, dice2]
Index: []

In [10]:
oneroll = Series(randint(1,7,2), index=['dice1','dice2'])
oneroll

dice1    3
dice2    1
dtype: int64

In [11]:
diceroll = diceroll.append(oneroll, ignore_index=True)
diceroll

   dice1  dice2
0    3.0    1.0

In [12]:
diceroll = DataFrame(columns=['dice1','dice2'])
for i in range(1000):
    diceroll = diceroll.append(
        Series(randint(1,7,2), index=['dice1','dice2']),
        ignore_index = True)
diceroll[:5]

   dice1  dice2
0    2.0    4.0
1    6.0    2.0
2    2.0    3.0
3    2.0    6.0
4    3.0    4.0

In [13]:
diceroll.describe()

             dice1       dice2
count  1000.000000  1000.00000
mean      3.411000     3.56700
std       1.726575     1.72583
min       1.000000     1.00000
25%       2.000000     2.00000
50%       3.000000     4.00000
75%       5.000000     5.00000
max       6.000000     6.00000

In [14]:
diceroll1 = DataFrame(randint(1,7,(5,2)),
                      columns=['dice1','dice2'])
diceroll1

   dice1  dice2
0      5      1
1      2      5
2      2      4
3      1      5
4      3      3

In [15]:
diceroll2 = DataFrame(randint(1,7,(5,2)),
                      columns=['dice1','dice2'])
diceroll2

   dice1  dice2
0      5      5
1      2      2
2      5      5
3      6      4
4      3      4

In [16]:
diceroll3 = diceroll1.append(diceroll2)
diceroll3

   dice1  dice2
0      5      1
1      2      5
2      2      4
3      1      5
4      3      3
0      5      5
1      2      2
2      5      5
3      6      4
4      3      4

In [17]:
diceroll4 = diceroll1.append(diceroll2, ignore_index=True)
diceroll4

   dice1  dice2
0      5      1
1      2      5
2      2      4
3      1      5
4      3      3
5      5      5
6      2      2
7      5      5
8      6      4
9      3      4

In [18]:
diceroll = DataFrame()
diceroll['dice1'] = randint(1,7,5)
diceroll

   dice1
0      6
1      2
2      6
3      1
4      2

In [19]:
diceroll['dice2'] = randint(1,7,5)
diceroll

   dice1  dice2
0      6      6
1      2      2
2      6      5
3      1      6
4      2      4

In [20]:
dice1 = Series(randint(1,7,5),name='dice1')
dice2 = Series(randint(1,7,5),name='dice2')
diceroll = pd.concat([dice1, dice2], axis=1)
diceroll

   dice1  dice2
0      5      2
1      5      2
2      3      4
3      4      4
4      6      3

In [21]:
dice3 = Series(randint(1,7,5),name='dice3')
diceroll = pd.concat([diceroll, dice3], axis=1)
diceroll

   dice1  dice2  dice3
0      5      2      3
1      5      2      6
2      3      4      6
3      4      4      1
4      6      3      2

## 練習問題

(1) 0≦x≦1の範囲を等分した num 個の点ついて、「sin(2πx) + 正規分布の乱数（標準偏差0.3）」を計算した array を返す関数 create_dataset(num) を作成してください。

from numpy.random import normal

def create_dataset(num):
# この部分のコードを作成すること。
    return data_y

(2) (1)の関数について、xの値と、対応する「y = sin(2πx) + 正規分布の乱数（標準偏差0.3）」の値を列に持つDataFrameを返すように修正してください。（列の名前は、それぞれ 'x' および 'y' とします。）

特に、次のそれぞれの方法で実装してください。

- 列'x'と列'y'を個別のSeriesオブジェクトとして作成した後、pd.concat()で結合する。
- 列'x'と列'y'に対応するarrayオブジェクトを用意して、これらを列にもつDataFrameを作成する。

(3) (2)の関数を用いて、num=1000 のデータフレームを作成した後、describe()メソッドでデータの統計情報を確認してください。