# pandasのデータフレーム

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import Series, DataFrame

## 練習問題

(1) 0≦x≦1の範囲を等分した num 個の点ついて、「sin(2πx) + 正規分布の乱数（標準偏差0.3）」を計算した array を返す関数 create_dataset(num) を作成してください。

from numpy.random import normal

def create_dataset(num):
# この部分のコードを作成すること。
    return data_y

In [2]:
from numpy.random import normal

def create_dataset(num):
    data_x = np.linspace(0,1,num)
    data_y = np.sin(2*np.pi*data_x) + normal(loc=0, scale=0.3, size=num)
    return data_y

In [3]:
create_dataset(10)

array([ 0.39098915,  0.6953381 ,  1.49718638,  0.64096812,  0.82739219,
        0.01043036, -1.21167927, -0.67304665, -0.80656942,  0.20147678])

(2) (1)の関数について、xの値と、対応する「y = sin(2πx) + 正規分布の乱数（標準偏差0.3）」の値を列に持つDataFrameを返すように修正してください。（列の名前は、それぞれ 'x' および 'y' とします。）

特に、次のそれぞれの方法で実装してください。

- 列'x'と列'y'を個別のSeriesオブジェクトとして作成した後、pd.concat()で結合する。
- 列'x'と列'y'に対応するarrayオブジェクトを用意して、これらを列にもつDataFrameを作成する。

In [4]:
def create_dataset1(num):
    data_x = np.linspace(0,1,num)
    data_y = np.sin(2*np.pi*data_x) + normal(loc=0, scale=0.3, size=num)
    col_x = Series(data_x, name='x')
    col_y = Series(data_y, name='y')
    df = pd.concat([col_x, col_y], axis=1)
    return df

In [5]:
create_dataset1(10)

          x         y
0  0.000000  0.111357
1  0.111111  1.183493
2  0.222222  0.747055
3  0.333333  1.114209
4  0.444444  0.273752
5  0.555556 -0.556618
6  0.666667 -0.560647
7  0.777778 -0.526433
8  0.888889 -0.974218
9  1.000000  0.431594

In [6]:
def create_dataset2(num):
    data_x = np.linspace(0,1,num)
    data_y = np.sin(2*np.pi*data_x) + normal(loc=0, scale=0.3, size=num)
    df = DataFrame({'x': data_x, 'y': data_y})
    return df

In [7]:
create_dataset2(10)

          x         y
0  0.000000 -0.606226
1  0.111111  1.002538
2  0.222222  0.925932
3  0.333333  1.116065
4  0.444444  0.416940
5  0.555556 -0.416315
6  0.666667 -1.470411
7  0.777778 -1.133944
8  0.888889 -0.790205
9  1.000000 -0.081483

(3) (2)の関数を用いて、num=1000 のデータフレームを作成した後、describe()メソッドでデータの統計情報を確認してください。

In [8]:
data = create_dataset1(1000)
data.describe()

                 x            y
count  1000.000000  1000.000000
mean      0.500000    -0.010389
std       0.289109     0.762179
min       0.000000    -1.734789
25%       0.250000    -0.663679
50%       0.500000    -0.029501
75%       0.750000     0.635936
max       1.000000     2.006597